footer {
  background-color: black;
}
footer a {
  color: #fff;
  font-size: 2rem;
  font-family: "josefin sans", sans-serif;
}
.studioLogo-socialIcons {
  display: flex;
  justify-content: space-between;
  margin-top: 4rem;
  margin-bottom: 3rem;
}
.socialMediaIcons {
  display: flex;
  justify-content: space-between;
  width: 18rem;
}
.copyRight {
  color: #fff;
  font-size: 1.5rem;
  font-family: "josefin sans", sans-serif;
}
.links-copyRight {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}
.footerLinks {
  width: 35rem;
  display: flex;
  justify-content: space-between;
}
.mobileLinks {
  margin: auto;
  width: 20rem;
  text-align: center;
  margin-bottom: 3rem;
}
.mobileLogo {
  margin: auto;
  width: 20rem;
  margin-bottom: 3rem;
  margin-top: 4rem;
}
.footerMediaIcons {
  margin: auto;
  width: 15rem;
  display: flex;
  text-align: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}
.mobileCopyRight {
  margin: auto;
  width: 34rem;
  text-align: center;
  margin-bottom: 2rem;
  color: #fff;
  font-size: 1.8rem;
  font-family: "josefin sans", sans-serif;
}
.mobile-links {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 20rem;
  text-align: center;
  margin-bottom: 3rem;
  font-weight: 700;
  font-family: "josefin sans", sans-serif;
  a {
    margin-bottom: 3rem;
  }
}
.attribution {
  width: 70%;
  color: #fff;
  font-size: 1.5rem;
  font-family: "josefin sans", sans-serif;
  margin: auto;
  font-weight: 600;
  text-align: center;
  margin-bottom: 2rem;
  a:hover {
    color: grey;
  }
}

@media (max-width: 1100px) {
  .footerLogo {
    width: 16rem;
  }
  .socialMediaIcons {
    width: 15rem;
  }
  .footerLinks {
    width: 30rem;
    a {
      font-size: 1.8rem;
    }
  }
}
@media (max-width: 852px) {
  .studioLogo-socialIcons {
    display: none;
  }
  .links-copyRight {
    display: none;
  }
}
@media (min-width: 853px) {
  .mobilefooter {
    display: none;
  }
}
