footer {
  background-color: black;
}
footer a {
  color: #fff;
  font-size: 2rem;
  font-family: "josefin sans", sans-serif;
}
.studioLogo-socialIcons {
  display: flex;
  justify-content: space-between;
  margin-top: 4rem;
  margin-bottom: 3rem;
}
.socialMediaIcons {
  display: flex;
  justify-content: space-between;
  width: 20rem;
}
.copyRight {
  color: #fff;
  font-size: 1.5rem;
  font-family: "josefin sans", sans-serif;
}
.links-copyRight {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}
.footerLinks {
  width: 35rem;
  display: flex;
  justify-content: space-between;
}
.mobileLinks {
  margin: auto;
  width: 20rem;
  text-align: center;
  margin-bottom: 3rem;
}
.mobileLogo {
  margin: auto;
  width: 20rem;
  margin-bottom: 3rem;
}
.footerMediaIcons {
  margin: auto;
  width: 15rem;
  display: flex;
  text-align: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}
.mobileCopyRight {
  margin: auto;
  width: 30rem;
  text-align: center;
  margin-bottom: 2rem;
  color: #fff;
  font-size: 1.5rem;
  font-family: "josefin sans", sans-serif;
}
