.gridSection {
  max-width: 68%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
  grid-column-gap: 2rem;
  margin: 0 auto;
  margin-top: 8rem;
  grid-row-gap: 2rem;
  margin-bottom: 10rem;
}
.grid-Img {
  width: 100%;
}
.image-container {
  position: relative;
  overflow: hidden;
  &:hover {
    opacity: 0.8;
  }
}

.bag-btn {
  position: absolute;
  top: 89%;
  right: 0;
  background: rgb(249, 250, 252);
  color: black;
  border: none;
  text-transform: uppercase;
  padding: 1.5rem 10.75rem;
  letter-spacing: 0.1rem;
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
  transform: translateY(101%);
  cursor: pointer;
  opacity: 0.7;
  filter: brightness(120%);
}
.image-container:hover .bag-btn {
  transform: translateX(0);
}
.gridText {
  top: 75%;
  left: 10%;
  width: 19rem;
  font-size: 3.5rem;
  position: absolute;
  color: #fff;
  font-family: "josefin sans", sans-serif;
  font-weight: 300;
}
//mobile grid
.mobileGrid {
  max-width: 90%;
  margin: auto;
}
//mobile grid
.mobileGridText {
  top: 13rem;
  left: 5rem;
  font-size: 4.1em;
  position: absolute;
  color: rgb(245, 241, 241);
  font-family: "josefin sans", sans-serif;
  font-weight: 300;
  width: 21rem;
}
.mobileImageContainer {
  position: relative;
  &:hover {
    opacity: 0.8;
  }
}
.mobileGrid .mobileImageContainer img {
  margin: auto;
  width: 100%;
  margin-bottom: 2rem;
}
.mobileGridText-x {
  width: 10rem;
}
// grid switch break point
@media (max-width: 852px) {
  .gridSection {
    display: none;
  }
}
@media (min-width: 853px) {
  .mobileGrid {
    display: none;
  }
}
@media (max-width: 670px) {
  .mobileGridText {
    font-size: 3em;
    top: 10rem;
  }
}
@media (max-width: 575px) {
  .mobileGridText {
    font-size: 2.5em;
  }
}
@media (max-width: 475px) {
  .mobileGridText {
    font-size: 2.2em;
    top: 8.5rem;
  }
}
@media (max-width: 425px) {
  .mobileGridText {
    top: 7.5rem;
  }
}
@media (max-width: 385px) {
  .mobileGridText {
    top: 6.5rem;
  }
}
@media (max-width: 345px) {
  .mobileGridText {
    font-size: 2em;
    top: 5.5rem;
  }
}
@media (max-width: 300px) {
  .mobileGridText {
    font-size: 2em;
    top: 4.7rem;
  }
}
