.vrSection {
  display: flex;
  max-width: 68%;
  justify-content: space-between;
  margin: auto;
  position: relative;
}
.vrText {
  width: 70rem;
  margin-top: auto;
  background-color: rgb(255, 255, 255);
  padding-left: 10rem;
  padding-top: 10rem;
  position: absolute;
  bottom: 0;
  right: 0;
}
.vrContentWrapper {
  width: 88rem;
}
.vrImg {
  width: 100%;
}

.vrHeader {
  font-size: 6.1em;
  font-family: "josefin sans";
  margin-bottom: 3rem;
}
.vrParagraph {
  font-size: 2.2em;
  line-height: 3rem;
  font-family: "josefin sans", sans-serif;
}
.creationsButtons {
  margin-top: 15rem;
  display: flex;
  justify-content: space-between;
  button:hover {
    background-color: black;
    color: white;
    cursor: pointer;
    transition: ease-in-out 0.7s;
  }
}
.creationsButtons h3 {
  font-size: 3rem;
  font-family: "josefin sans";
}
.creationsButtons button {
  font-size: 2rem;
  font-family: "josefin sans";
  padding: 1.5rem 3rem;
  border: 1px solid black;
  background-color: #fff;
}
.creationHeaderMobile {
  margin: auto;
  width: 80%;
  margin-top: 7rem;
  margin-bottom: 6rem;
  text-align: center;
  font-size: 3.7rem;
  font-family: "josefin sans";
}
.seeAllHeaderMobile {
  text-align: center;
  width: 25rem;
  margin: auto;
  font-size: 3.2rem;
  font-family: "josefin sans";
  margin-top: 2rem;
  margin-bottom: 4rem;
  border: 1px solid black;
  padding: 1.7rem 3rem 1rem 3rem;
  &:hover {
    background-color: black;
    color: white;
    cursor: pointer;
    transition: ease-in-out 0.7s;
  }
}
@media (max-width: 1585px) {
  .creationsButtons {
    margin-top: 10rem;
  }
  .vrContentWrapper {
    margin: auto;
  }
  .vrSection {
    flex-direction: column;
    margin-top: 0rem;
    position: static;
    max-width: 90vw;
    margin: auto;
  }
  .vrImg {
    padding-left: 0;
    margin: auto;
    max-width: 90vw;
  }
  .vrText {
    margin: auto;
    right: 0rem;
    padding: 0rem;
    margin-top: 8rem;
    max-width: 90vw;
    position: static;
  }
  .vrHeader {
    text-align: center;
    font-weight: 300;
  }
  .vrParagraph {
    text-align: center;
    line-height: 2.7rem;
  }
}
//Break points section
//creation buttons
@media (max-width: 852px) {
  .creationsButtons {
    display: none;
  }
}
@media (min-width: 853px) {
  .creationHeaderMobile {
    display: none;
  }
}
@media (min-width: 853px) {
  .seeAllHeaderMobile {
    display: none;
  }
}
//Break points section
@media (max-width: 750px) {
  .vrHeader {
    font-size: 5rem;
    margin-bottom: 1.8rem;
  }
  .vrText {
    margin-top: 3rem;
  }
  .vrParagraph {
    font-size: 1.7rem;
  }
  .vrHeader {
    font-size: 4rem;
  }
}
@media (max-width: 750px) {
  .seeAllHeaderMobile {
    width: 20rem;
    font-size: 2.5rem;
  }
}

@media (max-width: 450px) {
  .creationHeaderMobile {
    font-size: 3rem;
  }
  .seeAllHeaderMobile {
    width: 17rem;
    font-size: 2rem;
  }
}
@media (max-width: 360px) {
  .vrHeader {
    font-size: 3rem;
  }
  .creationHeaderMobile {
    font-size: 2rem;
  }
}
