// .vrSection {
//   display: flex;
//   max-width: 68%;
//   justify-content: space-between;
//   margin: auto;
//   position: relative;
// }

// .vrText {
//   width: 70rem;
//   margin-top: auto;
//   background-color: rgb(255, 255, 255);
//   padding-left: 10rem;
//   padding-top: 10rem;
//   position: absolute;
//   bottom: 0;
//   right: 0;
// }
// .vrContentWrapper {
//   width: 85rem;
// }
// .vrImg {
//   width: 100%;
// }
.vrSection {
  display: flex;
  max-width: 68%;
  justify-content: space-between;
  margin: auto;
  position: relative;
}
.vrText {
  width: 70rem;
  margin-top: auto;
  background-color: rgb(255, 255, 255);
  padding-left: 10rem;
  padding-top: 10rem;
  position: absolute;
  bottom: 0;
  right: 0;
}
.vrContentWrapper {
  width: 88rem;
}
.vrImg {
  width: 100%;
}

.vrHeader {
  font-size: 6.1em;
  font-family: "josefin sans";
  margin-bottom: 3rem;
}
.vrParagraph {
  font-size: 2.2em;
  line-height: 3rem;
  font-family: "josefin sans", sans-serif;
}
.creationsButtons {
  // padding: 0rem 15rem 0rem 15rem;
  margin-top: 15rem;
  display: flex;
  justify-content: space-between;
}
.creationsButtons h3 {
  font-size: 3rem;
  font-family: "josefin sans";
}
.creationsButtons button {
  font-size: 2rem;
  font-family: "josefin sans";
  padding: 1.5rem 3rem;
  border: 1px solid black;
  background-color: #fff;
}
@media (max-width: 1585px) {
  .creationsButtons {
    margin-top: 10rem;
  }
  .vrContentWrapper {
    margin: auto;
  }
  .vrSection {
    flex-direction: column;
    margin-top: 0rem;
    position: static;
    max-width: 90vw;
    margin: auto;
  }
  .vrImg {
    padding-left: 0;
    margin: auto;
    max-width: 90vw;
  }
  .vrText {
    margin: auto;
    right: 0rem;
    padding: 0rem;
    margin-top: 8rem;
    max-width: 90vw;
    position: static;
  }
  .vrHeader {
    text-align: center;
    font-weight: 300;
  }
  .vrParagraph {
    text-align: center;
    line-height: 2.7rem;
  }
}
@media (max-width: 840px) {
  .creationsButtons {
    display: none;
  }
}
@media (min-width: 841px) {
  .creationHeaderMobile {
    display: none;
  }
}
@media (max-width: 750px) {
  .vrHeader {
    font-size: 5rem;
    margin-bottom: 1.8rem;
  }
  .vrText {
    margin-top: 3rem;
  }
  .vrParagraph {
    font-size: 1.7rem;
  }
}
@media (max-width: 750px) {
  .vrHeader {
    font-size: 4rem;
  }
}
@media (max-width: 360px) {
  .vrHeader {
    font-size: 3rem;
  }
}
//////////////////////////////@at-root

// .vrContentContainer {
//   margin-top: 10rem;
//   position: relative;
//   max-width: 68%;
//   margin: auto;
//   height: auto;
// }
// .vrText {
//   // width: 68em;
//   position: absolute;
//   background-color: #fff;
//   top: 20.4rem;
//   left: 71em;
//   padding-left: 12rem;
//   padding-top: 12rem;
//   margin-right: 1rem;
// }
// .vrSection {
//   width: 100%;
//   margin: auto;
//   height: auto;
// }
////////////////////////////////////////////////
// .vrContentContainer {
//   margin-top: 10rem;
//   position: relative;
//   max-width: 68%;
//   margin: auto;
// }
// .vrText {
//   width: 68rem;
//   position: absolute;
//   background-color: #fff;
//   top: 23rem;
//   left: 75em;
//   padding-left: 12rem;
//   padding-top: 12rem;
// }
// .vrImg {
//   min-width: 90rem;
// }
// .vrImg {
//   min-width: 90rem;
// }
////////////////////////////////////////////////
// .vrContentWrapper {
//   width: 100%;
//   display: flex;
// }
// .vrContentContainer {
//   margin-top: 10rem;
//   grid-template-columns: 2fr 1fr;
//   position: relative;
// }
// .vrText {
//   width: 70rem;
//   position: absolute;
//   background-color: #fff;
//   top: 20rem;
//   left: 76em;
//   padding-left: 13rem;
//   padding-top: 13rem;
// }
////////////////////////////////////////////////

// .vrContentWrapper {
//   max-width: 100%;
// }
// .vrContentContainer {
//   // width: 100%;
//   margin-top: 10rem;
//   // display: flex;
//   justify-content: space-between;
//   // position: relative;
//   // overflow: hidden;
//   display: flex;
// }
// .vrText {
//   // top: 38.2%;
//   // left: 50%;
//   max-width: 50%;
//   margin-top: auto;
//   padding: 11rem 0rem 0rem 15rem;
//   // position: absolute;
//   // right: 10rem;
//   background-color: #fff;
//   z-index: 1;
// }
// .vrImg {
//   min-width: 60%;
//   height: auto;
// }
// .vrContentWrapper {
//   max-width: 100%;
//   display: flex;
//   justify-content: space-between;
// }
// .vrText {
//   min-width: 50%;
//   margin-top: auto;
//   padding: 11rem 0rem 0rem 15rem;
//   position: relative;

//   right: 20rem;
//   background-color: #fff;
// }
// .vrSection {
//   margin: auto;
//   display: flex;
//   position: relative;
//   max-width: 68%;
// }
